.button {
    background-color: transparent;
    padding: .75em 2em;
    display: inline-flex;
    align-items: center;
    border: 1px solid #E2C08A;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    line-height: 1 !important;
    font-weight: 300;
    font-size: var(--s-xs);
    color: inherit;
    text-transform: uppercase;

    &:hover,
    &:focus {
        border-color: #fff;
    }
}