.eyebrow {
    display: block;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: var(--s-md);
    color: #417E74;
    letter-spacing: 0.1em;

    &::after {
        content: '';
        display: block;
        width: 1px;
        height: 2.5rem;
        background-color: #E2C08A;
        margin: 1.5rem auto;
    }
}

.eyebrow + :is(h1, h2, h3, h4) {
    --flow-space: 1rem;
}