@font-face {
    font-family: 'Didot';
    src: url('../fonts/didot_lt_std_italic-webfont.woff2') format('woff2'),
         url('../fonts/didot_lt_std_italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futuraptlight-webfont.woff2') format('woff2'),
         url('../fonts/futuraptlight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futuraptbook-webfont.woff2') format('woff2'),
         url('../fonts/futuraptbook-webfont.woff') format('woff');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futuraptbookoblique-webfont.woff2') format('woff2'),
         url('../fonts/futuraptbookoblique-webfont.woff') format('woff');
    font-weight: 350;
    font-style: oblique;
}