---
import { SITE_TITLE } from '../config';

const today = new Date();
---
<section class="pre-footer">
	<p>Questions? <a href="/contact">Contact us</a></p> <p>See you there!</p>
</section>
<footer>
	<p>&copy; {today.getFullYear()} {SITE_TITLE}</p>
</footer>
<style lang="scss">
	.pre-footer {
        min-height: 160px;
        background-color: #012F2C;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
		margin-inline: 30px;
		
        > * + * {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: -1.5rem;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #E2C08A;
            }
        }

        @media (min-width: 768px) {
            margin-inline: 100px;
            flex-direction: row;

            > * + * {
                &::before {
                    left: -1.5rem;
                    top: 50%;
                }
            }
        }
    }

	footer {
		display: grid;
		place-items: center;
		min-height: 100px;
		padding: 1.5rem 2rem;
		line-height: 1;
		text-transform: uppercase;
	}
</style>
