---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style lang="scss">
	a {
		display: inherit;
		align-items: center;
		justify-content: center;
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		transition: color 200ms ease-in;

		&:hover {
			color: #E2C08A;
			text-decoration: none;
		}

		&.active {
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 0.25em;
		}
	}
</style>
